# Disable "MSI Optix" drive
ACTION=="add", SUBSYSTEMS=="usb", DRIVERS=="usb-storage", \
    ATTR{bInterfaceClass}=="08", ATTR{bInterfaceNumber}=="01", ATTR{bInterfaceProtocol}=="50", ATTR{bInterfaceSubClass}=="06", \
    ATTR{authorized}="0"
